body{font-family:"Roboto", sans-serif;
color: #434455;
background-color: #ffffff;}

a{text-decoration: none;}

ul{list-style-type: none;}

button{cursor: pointer;}

.header-nav-link{font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5
}

.span{
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42
}

.span-span{font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD}

.header-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2E2F42;
 }
    
 .header-link:hover{color: #404BBF;
}
.header-link:focus{color: #404bbf;}



.header-address{font-style: normal;}

.header-address-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;}
    .header-address-link:hover{color: #404BBF;}
        .header-address-link:focus {
            color: #404BBF; text-decoration: underline;
        }

.main-section-title{background: #2E2F42;}

.main-title{font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color:#ffffff;}

    .but{
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        
         background: #4D5AE5}
         .but:hover{background-color:#404BBF;
    }
        .but:focus{
            background-color:#404BBF;
            }

.main-section-features-sectit{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42
}

.main-section-features-par{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.main-section-team{background-color: #F4F4FD;}

.main-section-team-title{text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;}

    

.main-section-team-tit-tit{
   
    background-color: #ffffff;
    
}

.main-section-team-tit-time{font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;}

.main-section-team-par{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    
    color:#434455;
}

.main-section-portfolio-title{text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;}

.main-section-portfolio-tit-ti{font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.main-section-portfolio-par{font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer{background: #2E2F42;}

.footer-par{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #F4F4FD;}